@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background-color: black;
    font-family: 'Noto sans', sans-serif;
}

header {
    background-color: #d193b6;
    display: grid;
    grid-template-areas: 'name' 'navigation';
    align-items: center;
    padding: 1rem;
}

#app-name {
    grid-area: name;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}

nav {
    grid-area: navigation;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5em;
    list-style: none;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav li.active {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 5px #ffb3de solid;
}

.veil {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.form > input {
    display: block;
    border: 1px rgba(0,0,0,0.5) solid;
    padding: 0.1em;
}

.submit {
    background-color: #d193b6;
}

.cancel {
    background-color: #ccc;
}

@media screen and (min-width: 768px) {
    header {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 'name navigation';
    }
}