@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    position: relative;
    background-color: black;
    font-family: 'Noto sans', sans-serif;
    font-size: large;
}

header {
    background-color: #d193b6;
    display: grid;
    grid-template-areas: 'name' 'navigation';
    align-items: center;
    padding: 1rem;
}

#app-name {
    grid-area: name;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}

nav {
    grid-area: navigation;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5em;
    list-style: none;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav li.active {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 5px #ffb3de solid;
}

.veil {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.form > input {
    display: block;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    padding: 0.1em;
}

.submit {
    background-color: #d193b6;
}

.cancel {
    background-color: #ccc;
}

main > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main > ul:first-child {
    margin-top: 0.2rem;
}

.todo {
    flex: 1 1 3rem;
    display: flex;
    margin: 0.2rem;
    padding: 0.5rem;
    max-width: 768px;
}

.todo .delete {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border: 3px black solid;
}

.todo .delete:hover {
    background-color: #ffb3de;
}

.todo-body {
    margin-left: 1rem;
    display: grid;
    grid-template-areas: 'name' 'due-date' 'description';
}

.todo.priority-1 {
    background-color: rgba(255, 255, 255, 0.7);
}

.todo.priority-2 {
    background-color: rgba(255, 255, 255, 0.75);
}

.todo.priority-3 {
    background-color: rgba(255, 255, 255, 0.8);
}

.todo.priority-4 {
    background-color: rgba(255, 255, 255, 0.85);
}

.todo.priority-5 {
    background-color: rgba(255, 255, 255, 0.9);
}

.todo-body .name {
    grid-area: name;
}

.todo-body .dueDate {
    grid-area: due-date;
}

.todo-body .description {
    color: #444;
    grid-area: description;
}

@media screen and (min-width: 768px) {
    header {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 'name navigation';
    }

    .todo-body {
        grid-template-areas: 'name due-date' 'description description';
        grid-template-columns: 4fr 1fr;
    }
}